# Web service
MYURLS_BIND=127.0.0.1
MYURLS_PORT=9292

# Optional xip DNS service
XIP_WEB_HOST=xip.example.com
DNS_BIND=0.0.0.0
DNS_PORT=8053
DNS_ZONE=xip.example.com
DNS_DEFAULT_IP=203.0.113.10
DNS_NAMESERVER=short.example.com
DNS_TTL=300
