%footer
  .w-full.mx-auto.fixed.bottom-0
    .border-t.border-gray-200.pt-4.mb-4
      %p.text-base.text-gray-400.text-center
        %a{:href => "https://github.com/fatjyc/myurls"} https://github.com/fatjyc/myurls
