%nav.site-nav
  .site-nav-inner
    %a.site-logo{href: "/"}= @site_name || 'MYURLS'
    - if @body_class == 'myurls-page'
      .site-nav-meta
        %span 1 GB OF INTERNET
    - elsif @body_class == 'xip-page'
      .site-nav-meta
        %span DYNAMIC DNS
        %a{href: "https://1gb.xyz"} Short links
