%nav.bg-gray-800
  .max-w-7xl.mx-auto.px-2.sm:px-6.lg:px-8
    .relative.flex.items-center.justify-between.h-16
      .flex-1.flex.items-center.justify-center.sm:items-stretch.sm:justify-start
        .flex-shrink-0.flex.items-center
          %a{href: "#", class: "text-gray-300 hover:text-white uppercase text-2xl font-sans font-bold"} MYURLS
