.jumbotron
  .container
    %h1 Myurls
    %p My url shotener. It is a small set of Ruby script that will allow you to run your own URL shortening service.
    %p
      %a.btn.btn-primary.btn-lg{:href => "/signup", :role => "button"} Sign up
      %a.btn.btn-success.btn-lg{:href => "/signin", :role => "button"} Sign in
