!!!
%html{:lang => "en", :class => "bg-gray-50"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/stylesheets/lib/tailwind.min.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet"}/
    %title Myurls
  %body.font-sans.antialiased
    = haml :header
    = yield
    = haml :footer
    %script{:src => "/javascripts/lib/jquery-3.4.1.min.js"}
    %script{:src => "/javascripts/lib/clipboard.min.js"}
    %script{:src => "/javascripts/application.js"}
