body {
  padding-top: 50px;
}

.url {
  padding: 30px;
  border: 1px solid #7e7e7e;
  border-radius: 3px;
}

.form-inline {
  display: flex;
}
.input {
  flex-grow: 1;
  margin-left: 10px;
}

.form-inline {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0;
}

.domain {
  margin-bottom: 0;
}
a#restart {
  display: none;
  float: right;
  text-align: right;
  width: 185px;
  line-height: 34px;
  height: 34px;
  text-decoration: none;
}

#s-url.form-control[readonly] {
  background-color: #ffffff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: #464646;
}

.footer p {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.footer a {
  color: #000000;
  text-decoration: none;
}
